In [2]:
import pandas as pd
import numpy as np

In [3]:
np.random.seed(101)
mydata=np.random.randint(0,101,(4,3))

In [4]:
mydata

array([[95, 11, 81],
       [70, 63, 87],
       [75,  9, 77],
       [40,  4, 63]])

In [5]:
myindex=['CA','NY','AZ','TX']

In [6]:
mycolumns=['Jan','Feb','Mar']

In [7]:
df= pd.DataFrame(data=mydata,index=myindex,columns=mycolumns)

In [8]:
df

    Jan  Feb  Mar
CA   95   11   81
NY   70   63   87
AZ   75    9   77
TX   40    4   63

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, CA to TX
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Jan     4 non-null      int32
 1   Feb     4 non-null      int32
 2   Mar     4 non-null      int32
dtypes: int32(3)
memory usage: 80.0+ bytes

In [10]:
pwd

'C:\\Users\\TARAS\\Desktop\\Маш навч\\machine-learning\\pandas'

In [11]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 2292-1322

 Directory of C:\Users\TARAS\Desktop\Маш навч\machine-learning\pandas

07.02.2024  00:33    <DIR>          .
07.02.2024  00:33    <DIR>          ..
07.02.2024  00:05    <DIR>          .ipynb_checkpoints
01.02.2024  20:27            18 636 data.csv
07.02.2024  00:25            12 548 pandas_Dataframe_1.ipynb
06.02.2024  23:56             7 078 pandas_Series.ipynb
               3 File(s)         38 262 bytes
               3 Dir(s)  102 074 986 496 bytes free

In [12]:
df=pd.read_csv('C:\\Users\\TARAS\\Desktop\\Маш навч\\machine-learning\\pandas\\data.csv')

In [13]:
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2023-02-01,353.859985,365.390015,349.910004,361.989990,361.989990,8005200
1,2023-02-02,365.160004,368.320007,358.429993,366.890015,366.890015,7857000
2,2023-02-03,359.079987,379.429993,359.000000,365.899994,365.899994,9402000
3,2023-02-06,363.640015,368.450012,360.679993,361.480011,361.480011,4994900
4,2023-02-07,358.510010,364.179993,354.179993,362.950012,362.950012,6289400
...,...,...,...,...,...,...,...
246,2024-01-25,551.950012,563.460022,548.460022,562.000000,562.000000,9451900
247,2024-01-26,561.809998,579.640015,558.429993,570.419983,570.419983,12754500
248,2024-01-29,571.349976,578.549988,562.679993,575.789978,575.789978,6905400
249,2024-01-30,567.320007,570.880005,560.820007,562.849976,562.849976,6181800
250,2024-01-31,562.849976,572.150024,562.039978,564.109985,564.109985,4857600

In [14]:
df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [15]:
df.index

RangeIndex(start=0, stop=251, step=1)

In [ ]:
df.head